<%= render 'shared/page_title', title: "Edit your profile" %>

<%= render 'form' %>
<div class="control-label">
	<p><b>Note</b>: Password change is not mandatory, update whichever field is needed</p>
</div>