<div class="jumbotron center">
  <h1>Welcome to Food Network</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up today!", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>New to Food Network?</h2>
    <p>Find recipes from different cuisines across different part of the world! Food Network has recipes for every region and state, including mouthwatering Southern favorites, classic fare from New England, and spicy Southwest dishes.</p>
    <p>How to start cooking at home when you are a beginner cook who just never got around to learning the basics of cooking? And today you want to start to cook your own food? If this is you, you’re not alone. Join with our other foodies, and explore our recipes. Explore the cook in you and Happy Cooking!! </p>
  </div>
  <div class="col-lg-4" >
    <h2>How to get Started</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Our Partners</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
</div>