<footer class="footer">
  <small>
    <strong><a href="http://www.quora.com/">2021 ©MyRecipes, Inc.</a></strong>
    by <em><a href="http://www.quora.com/">Devanand Nagarajan</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>